@font-face {
    font-family: 'Squada One';
    font-style: normal;
    font-weight: 400;
    src: local('Squada One'), local('SquadaOne-Regular'), url(../fonts/squada-one.woff2), url(http://fonts.gstatic.com/s/squadaone/v5/DIbfqh10Zkwc_Qd08Y0safk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    src: local('Rajdhani'), local('Rajdhani-Regular'), url(../fonts/rajdhani.woff2),url(http://fonts.gstatic.com/s/rajdhani/v5/tz3398jtBIhi1rrADn6BZvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(../fonts/titillium.woff2), url(http://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


.operator-card, .stack-card {
    float: left;
    margin-top: 5px;
}

.card {
    margin-top: 5px;
}

.btn-default {
    width: 200px;
    height: 200px;
}

.floor-button {
    width: 600px;
    height: 50px;
}

.stack-box {
    margin-left: 25px;
    position: relative;
    float: left;
    font-family: 'Rajdhani', sans-serif;
}

.progress-bar {
    color: black;
    font-family: 'Aldrich', sans-serif;
}

/*.resource-bars {*/
    /*position: absolute;*/
    /*top: 5px;*/
    /*left: 5px;*/
    /*display: inline-block;*/
    /*width: 400px;*/
    /*width: 20%;*/
/*}*/

/*.floors {*/
    /*position: relative;*/
    /*top: 75px;*/
    /*right: 5px;*/

    /*width: 400px;*/
    /*width: 75%;*/
/*}*/

h1, h2 {
    font-family: 'Rajdhani', sans-serif;
}

#world-view {
    /*width: 800px;*/
    /*height: 800px;*/
    /*top: 5px;*/
    /*bottom: 5px;*/
    /*left: 5px;*/
    /*right: 5px;*/
    /*overflow: hidden;*/
    z-index: -1;
    /*overflow-y: hidden;*/
    /*overflow-x: hidden;*/
}

#current-map {
    z-index: -1;
    width: 5000px;
    height: 5000px;
    position: fixed;
    background-color: grey;
    border: double;
    border-width: 10px;
    border-color: black;
}

#map-title {
    top: 50px;
    left: 50px;
    position: absolute;
    width: 400px;
    padding: 20px;
    background-color: white;
    border: medium;
}

#current-title {
    position: absolute;
    z-index: 99;
    left: 50px;
    padding: 20px;
    border: double;
    border-width: 5px;
    opacity: .8;
    background-color: white;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

#avatar {
    z-index: 90;
    position: absolute;
}

/*.room {*/
    /*background-color: grey;*/
    /*width: 400px;*/
    /*height: 400px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
/*}*/

/*body {*/
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*overflow:hidden;*/
/*}*/

/*#containerBox {*/
    /*position:relative;*/
    /*border:1px solid black;*/
    /*width:3200px;*/
    /*height:3200px;*/
    /*overflow:hidden;*/
/*}*/

/*.roomTitle {*/
    /*padding: 20px;*/
    /*border:5px solid black;*/
    /*position: fixed;*/
    /*background-color: white;*/
    /*z-index: 999;*/
/*}*/