@font-face {
    font-family: 'Squada One';
    font-style: normal;
    font-weight: 400;
    src: local('Squada One'), local('SquadaOne-Regular'), url(../fonts/squada-one.woff2), url(http://fonts.gstatic.com/s/squadaone/v5/DIbfqh10Zkwc_Qd08Y0safk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    src: local('Rajdhani'), local('Rajdhani-Regular'), url(../fonts/rajdhani.woff2),url(http://fonts.gstatic.com/s/rajdhani/v5/tz3398jtBIhi1rrADn6BZvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(../fonts/titillium.woff2), url(http://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    background-color:#000000;
    background-image: url("../img/tempBG.jpg");
    color: #DDDDEE;
    margin:0;
}

.clearFix {
    clear:both;
}

.homeData {
    width:100%;
    margin:0;
    background-color: #67b168;
    height: 20px;
    color: #000000;
    padding:8px;
    font-family: 'Rajdhani', sans-serif;
    font-weight:bold;
    position: fixed;
    z-index:5;
}

.operator {

}

.stat {
    float:left;
    margin-right:30px;
}

.city {
    /*background-color: #31b0d5;*/
    /*opacity:0.6;*/
    width:3500px;

}

.building {
    /*background-color: #854733;*/
    /*opacity:0.6;*/
    padding-left:10px;
    padding-right:10px;
}

.sky {
    padding-top:800px;
}

.floor {
    /*background-color: #369455;*/
    /*opacity:0.6;*/
    padding-left:160px;
    background-image: url("../img/floor.png");
    height:188px;
    padding-top:60px;
}

.floorData {
    /*background-color: #369455;*/
    /*opacity:0.6;*/
    font-family: "Titillium Web";
    margin-top: -15px;
}

.room {
    display: inline-block;
    position: relative;
    background-image: url("../img/room000.png");
    /*opacity:0.8;*/
    font-family: "Titillium Web";
    width:315px;
    height:170px;
    margin-left:50px;
    float: left;
}

.room button {
    font-family: "Titillium Web";
    color:#AAAAAA;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #333333;
    border-color:#555555;
    z-index:5;
}

.roomTitle, .basement-room .roomTitle {
    font-family: "Titillium Web";
    color:#000000;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    z-index:5;
}

.roomTypeButton {
    position:absolute;
    top:25px;
    left:135px;
    margin-left:2px;
    z-index:5;
}

.roomChangeButtons {
    position:absolute;
    margin-top:40px;
    margin-left:20px;
    z-index:5;
}

.roomStats {
    position:absolute;
    font-family: "Titillium Web";
    color:#000000;
    font-size: 12px;
    text-transform: uppercase;
    margin-top:80px;
    width:100%;
    z-index:5;
}

.roomStatBox {
    text-align: center;
    z-index:5;
}

.basement-room{
    background-image: url('../img/meDirt.png');
    border:1px black solid;
}

.basementDecrypted {
    background-image: url('../img/room001.png');
    display: inline-block;
    position: relative;
    background-image: url("../img/room000.png");
    /*opacity:0.8;*/
    font-family: "Titillium Web";
    width:315px;
    height:170px;
    margin-left:30px;
    float: left;
}

.room-add {
    /*background-image: url('../img/meDirt.png');*/
    /*background-image: url("../img/levelBG.png");*/
    background-image: url("../img/grid10.png");
    /*background-image: url('../img/meDirt.png');*/
    /*background: rgba(0, 0, 0, .2);*/
    text-align: center;
    /*text-a*/
    /*vertical-align: middle;*/
    border:1px black solid;
    opacity:0.5;
    font-family: "Titillium Web";
    width:315px;
    height:170px;
    margin-left:30px;
    float: left;
}

.room-add-text {
    /*height: 200px;*/
    line-height: 170px;
    vertical-align: middle;

}

.room-add:hover {
    /*background: rgba(0, 0, 0, 1);*/
    opacity: .7;
    /*background-image: url("../img/room001.png");*/
    background-image: url('../img/meDirt.png');
}

.floorData {
    float:left;
    margin-left:-30px;
    margin-top:0px;
    border:1px;
    width:200px;
    height:100px;
    background-image:url("../img/concreteSmall.jpg");
    background-size: 100%;
    color: #BBBBBB;
    text-shadow: 0px 0px 4px #000000, 0px -4px 4px #000000, 0px -8px 6px #000000;
    font-family: "Titillium Web";
    font-size: 20px;
    text-transform: uppercase;
    text-align:center;
    padding-top:70px;
}

.addRoom {
    position:absolute;
    margin-left:-140px;
    margin-top:10px;
    font-family: "Titillium Web";
    color:#AAAAAA;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #333333;
    border-color:#555555;
}

.foundation {
    clear: both;
    background-image: url("../img/foundation.png");
    height:40px;
    color: #669999;
    padding-top:124px;
    padding-left:10px;
    text-shadow: 0px 0px 4px #000000, 0px -4px 4px #000000;
    font-family: "Titillium Web";
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
}

.ground {
    background-color: #31b0d5;
    background-image: url('../img/meDirt.png');
    padding-bottom:800px;
    background-size: 20%;
}

.basementTop {
    clear: both;
    height:40px;
    background-image: url("../img/basementTransition.png");
    color: #666666;
    padding-top:8px;
    padding-left:10px;
    text-shadow: 0px 0px 4px #000000, 0px -4px 4px #000000, 0px -8px 6px #000000;
    font-family: "Titillium Web";
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
}

.basement {
    padding-left:160px;
    background-image: url("../img/levelBG.png");
    height:190px;
    padding-top:20px;
}

.levelData {
    float:left;
    margin-left:-150px;
    width:200px;
    height:100px;
    background-image:url("../img/concreteSmall.jpg");
    background-size: 100%;
    color: #BBBBBB;
    text-shadow: 0px 0px 4px #000000, 0px -4px 4px #000000, 0px -8px 6px #000000;
    font-family: "Titillium Web";
    font-size: 20px;
    text-transform: uppercase;
    text-align:center;
    padding-top:70px;
}

.level {
    background-image: url("../img/room000.png");
    /*opacity:0.8;*/
    font-family: "Titillium Web";
    width:315px;
    height:170px;
    margin-left:30px;
    float: left;
}


.roomLogistics {
    position:absolute;
    width:365px;
    height:220px;
    margin-top:-40px;
    margin-left:-25px;
    z-index:1;
    opacity:0;

}

.roomLogistics:hover {
    opacity:1;
}

.roomLogiConnLeft {
    position:absolute;
    width:25px;
    height:125px;
    margin-top:50px;
}

.roomLogiConnTop {
    position:absolute;
    width:125px;
    height:25px;
    margin-left:120px;
}

.roomLogiConnRight {
    position:absolute;
    width:25px;
    height:125px;
    margin-top:50px;
    margin-left:340px;
}

.roomLogiConnBottom {
    position:absolute;
    width:125px;
    height:25px;
    margin-left:120px;
    margin-top:195px;
}

.roomLogiConnTop .logiItemsDuct { width:25px; height:25px; background-image:url("../img/logiPipesItemsVert.png"); display:inline-block; }
.roomLogiConnRight .logiItemsDuct { width:25px; height:25px; background-image:url("../img/logiPipesItems.png"); }
.roomLogiConnBottom .logiItemsDuct { width:25px; height:25px; background-image:url("../img/logiPipesItemsVert.png"); display:inline-block; }
.roomLogiConnLeft .logiItemsDuct { width:25px; height:25px; background-image:url("../img/logiPipesItems.png"); }

.roomLogiConnTop .logiBitsDuct { width:25px; height:25px; background-image:url("../img/logiPipesBitsVert.png"); display:inline-block;}
.roomLogiConnRight .logiBitsDuct { width:25px; height:25px; background-image:url("../img/logiPipesBits.png"); }
.roomLogiConnBottom .logiBitsDuct { width:25px; height:25px; background-image:url("../img/logiPipesBitsVert.png"); display:inline-block; }
.roomLogiConnLeft .logiBitsDuct { width:25px; height:25px; background-image:url("../img/logiPipesBits.png"); }

.roomLogiConnTop .logiEnergyDuct { width:25px; height:25px; background-image:url("../img/logiPipesEnergyVert.png"); display:inline-block; }
.roomLogiConnRight .logiEnergyDuct { width:25px; height:25px; background-image:url("../img/logiPipesEnergy.png"); }
.roomLogiConnBottom .logiEnergyDuct { width:25px; height:25px; background-image:url("../img/logiPipesEnergyVert.png"); display:inline-block; }
.roomLogiConnLeft .logiEnergyDuct { width:25px; height:25px; background-image:url("../img/logiPipesEnergy.png"); }

.roomLogiConnTop .logiWaterDuct { width:25px; height:25px; background-image:url("../img/logiPipesWaterVert.png"); display:inline-block; }
.roomLogiConnRight .logiWaterDuct { width:25px; height:25px; background-image:url("../img/logiPipesWater.png"); }
.roomLogiConnBottom .logiWaterDuct { width:25px; height:25px; background-image:url("../img/logiPipesWaterVert.png"); display:inline-block; }
.roomLogiConnLeft .logiWaterDuct { width:25px; height:25px; background-image:url("../img/logiPipesWater.png"); }

.roomLogiConnTop .logiHeatDuct { width:25px; height:25px; background-image:url("../img/logiPipesHeatVert.png"); display:inline-block; }
.roomLogiConnRight .logiHeatDuct { width:25px; height:25px; background-image:url("../img/logiPipesHeat.png"); }
.roomLogiConnBottom .logiHeatDuct { width:25px; height:25px; background-image:url("../img/logiPipesHeatVert.png"); display:inline-block; }
.roomLogiConnLeft .logiHeatDuct { width:25px; height:25px; background-image:url("../img/logiPipesHeat.png"); }


@keyframes logiActiveAnim {
    0% {background-color: rgba(255,255,255,0);}
    50% {background-color: rgba(255,255,255,1);}
    100% {background-color: rgba(255,255,255,0);}
}

.logiActive {
    animation-name:logiActiveAnim;
    animation-duration:2s;
    animation-iteration-count:infinite;
}
